HeaderFilterRegex: '^(include|src)/'
WarningsAsErrors: '*'
Checks: '
-*,

bugprone-argument-comment,
bugprone-assert-side-effect,
bugprone-dangling-handle,
bugprone-forwarding-reference-overload,
bugprone-lambda-function-name,
bugprone-move-forwarding-reference,
bugprone-string-constructor,
bugprone-suspicious-include,
bugprone-unhandled-self-assignment,
bugprone-unused-return-value,
bugprone-use-after-move,

misc-static-assert,
misc-unconventional-assign-operator,
misc-unused-using-decls,

modernize-avoid-bind,
modernize-avoid-c-arrays,
modernize-deprecated-headers,
modernize-use-default-member-init,
modernize-use-emplace,
modernize-use-equals-default,
modernize-use-equals-delete,
modernize-use-noexcept,
modernize-use-nullptr,
modernize-use-starts-ends-with,
modernize-use-using,

performance-*,
-performance-avoid-endl,
-performance-enum-size,
-performance-inefficient-string-concatenation,
-performance-no-int-to-ptr,
-performance-noexcept-move-constructor,

readability-avoid-const-params-in-decls,
readability-const-return-type,
readability-container-contains,
readability-duplicate-include,
readability-misleading-indentation,
readability-redundant-declaration,
readability-redundant-string-init,
'
